In [1]:
import pandas as pd
import re

In [2]:
easynic = pd.read_csv("./outputs/easy-nic-in/easy-nic.csv")
supremo = pd.read_csv("./outputs/supremo-nic-in/supremo-nic.csv")

In [3]:
easynic.loc[easynic["Identity No."] == "CG1.12E+03"]

Empty DataFrame
Columns: [Unnamed: 0, Name, Identity No., Dt. of Appointment, Source of Recruitment, IntraIAS User-Id, Qualification(Subject), Date of Birth, Allotment Year, Cadre, Domicile, Present Post, Post Effect From, Payscale Remarks]
Index: []

In [4]:
start_index = 0
end_index = 0
for i, year in enumerate(supremo["Allotment Year"]):
    if year == 1983:
        start_index = i
    if year == 2020:
        end_index = i
        break

In [5]:
comparison_set = supremo[start_index:end_index]

In [6]:
comparison_set

,Name,Service,Cadre,Allotment Year,Date of Birth,Date of Joining,Identity No.,Source of Recruitment,Gender,Place of Domicile,...,Languages Known,Retirement Reason,Qualification/University/Institute,Subject,Division,Designation/Level,Ministry/Department/Office/Location,Organisation,Experience(major/minor),Period(From/To)
3514,Shri Narendra Kumar Aswal,Indian Administrative Service,Chhattisgarh,1983,15/05/1957,01/09/1983,01CG035800,Direct Recruitment,Male,Rajasthan,...,English,Superannuated,Graduate|P.G.,Chemistry|Political Sc.,First|Second,Additional Chief Secy/Secretary|Additional Chi...,Planning Deptt/Chhattisgarh|SC & ST Dev Deptt|...,Cadre (AIS)|Cadre (AIS)|Cadre (AIS)|Cadre (AIS...,Policy Planning / Planning & Prog Implementati...,15/02/2017 - 31/05/2017|27/02/2014 - 31/05/201...
3515,Shri Banwari Lal Arya,Indian Administrative Service,Rajasthan,1984,19/04/1951,21/08/1984,01RJ025400,Direct Recruitment,Male,Rajasthan,...,English Punjabi,Superannuated,Graduate|P.G.,Political Sc.|Political Sc.,Third|Second,Secretary/Additional Secretary|Member/Joint Se...,Forest Deptt/Jaipur|Revenue Deptt/Bd of Revenu...,Cadre (AIS)|Cadre (AIS)|Cadre (AIS)|Cadre (AIS...,Forests / Environment & Forests|Revenue / Fina...,01/01/2009 - 30/04/2011|04/07/2008 - 07/10/200...
3516,Shri Nar Hari Sharma,Indian Administrative Service,Rajasthan,1984,06/12/1945,24/07/1992,01RJ025511,By Promotion from State Civil Service,Male,Rajasthan,...,English Hindi,Superannuated,Graduate|LL.B.,English Lit|Law,Second|First,Member/Director|Spl Secy/Director|Spl Secy/Dir...,Appellate Tribunal/Jaipur|Education Deptt||D/o...,Cadre (AIS)|Cadre (AIS)|Cadre (AIS)|Cadre (AIS...,Judicial / Law & Justice|Education / Human Res...,14/09/2005 - 31/12/2005|01/07/1999 - 01/08/200...
3517,Shri Pc Agarwal,Indian Administrative Service,Rajasthan,1984,21/07/1939,24/07/1992,01RJ025512,By Promotion from State Civil Service,Male,Rajasthan,...,English Hindi,Superannuated,NaN,NaN,NaN,Managing Director/Deputy Secretary|Additional ...,|Udaipur,Cadre (AIS)|Cadre (AIS),Cooperatives / Agriculture & Cooperation|Excis...,01/10/1996 - 31/07/1997|01/07/1992 - 01/09/1993
3518,Shri Vp Goyal,Indian Administrative Service,Rajasthan,1984,03/03/1938,25/08/1992,01RJ025513,By Promotion from State Civil Service,Male,Rajasthan,...,English Hindi,Superannuated,NaN,NaN,NaN,Deputy Secretary/Deputy Secretary,Jaipur,Cadre (AIS),Forests / Environment & Forests,01/08/1992 - 31/03/1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9565,Shri Nitin Kumar Singh,Indian Administrative Service,Bihar,2018,25/03/1992,01/09/2018,01BH117D06,Direct Recruitment,Male,Uttar Pradesh,...,NaN,Serving,B.Tech./IIT Kanpur/IIT Kanpur,Chemical Engg,First,Assistant Collector & Assistant Magistrate/Not...,NaN,Cadre (AIS),Land Revenue Mgmt & District Admn / Land Reven...,18/05/2019 - 28/08/2019
9566,Ms. Amrisha Bains,Indian Administrative Service,Bihar,2018,19/09/1988,01/09/2018,01BH117D07,Direct Recruitment,Female,Punjab,...,NaN,Serving,B.E. (Hons)/Panjab University/Department of Ch...,Chemical Engg,First with Distinction,Assistant Collector & Assistant Magistrate/Not...,Collectorate/Vaishali,Cadre (AIS),N.Applicable/N.Available / N.Applicable/N.Avai...,20/05/2019 - 28/08/2019
9567,Shri J Sonal,Indian Administrative Service,Odisha,2018,25/12/1989,01/09/2018,01OD117Q05,Direct Recruitment,Male,Odisha,...,NaN,Serving,M.A./Tata Institute of Social Sciences Mumbai/...,Human Res Mngmt,First,N.A./Not Available,NaN,Cadre (AIS),/ N.Applicable/N.Available,01/09/2018 -
9568,Shri Abhishek Ranjan,Indian Administrative Service,Bihar,2018,14/11/1991,01/09/2018,01BH117D08,Direct Recruitment,Male,Bihar,...,NaN,Serving,B.Tech./I I T Roorkee Roorkee/I I T Roorkee,Computer Sc,First,N.A./Not Available,NaN,Cadre (AIS),/ N.Applicable/N.Available,01/09/2018 -
9569,Ms. Bhapkar Snehal Purushottam,Indian Administrative Service,Gujarat,2018,31/08/1985,01/09/2018,01GJ117F09,Direct Recruitment,Female,Maharashtra,...,NaN,Serving,B.A./University of Pune|LL.B./Dr Babasaheb Amb...,Geography|Law,First with Distinction|First,Supernumerary Assistant Collector/Not Available,O/o D M & Collector/Jamnagar,Cadre (AIS),N.Applicable/N.Available / N.Applicable/N.Avai...,17/06/2019 - 13/08/2019

In [7]:
len(easynic)

5205

In [8]:
len(comparison_set)

6056

In [9]:
def find_in(my_list, value):
    for list_value in my_list:
        if str(value) in str(list_value):
            return True
    
    return False

In [10]:
mapper = {
    "UT": "A G M U T",
    "AP": "Andhra Pradesh",
    "AM": "Assam Meghalya",
    "BH": "Bihar",
    "CG": "Chhasttisgarh",
    "GJ": "Gujarat",
    "HY": "Haryana",
    "HP": "Himachal Pradesh",
    "JK": "Jammu & Kashmir",
    "JH": "Jharkhand",
    "KN": "Karnataka",
    "KL": "Kerala",
    "MP": "Madhya Pradesh",
    "MH": "Maharastra",
    "MN": "Manipur",
    "NL": "Nagaland",
    "OR": "Odisha",
    "PB": "Punjab",
    "RJ": "Rajasthan",
    "SK": "Sikkim",
    "TN": "Tamil Nadu",
    "TG": "Telangana",
    "TR": "Tripura",
    "UP": "Uttar Pradesh",
    "UD": "Uttarakhand",
    "WB": "West Bengal"
}

In [11]:
easynic = easynic.drop(["Unnamed: 0"], axis=1)

In [12]:
def get_key(my_dict, val):
    for key, value in my_dict.items():
         if val == value:
             return key

In [13]:
for i in easynic.index:
    prefix = "0" if len(str(easynic.loc[i,"Identity No."])) < 6 else ""
    easynic.loc[i, "Identity No."] = str(easynic.loc[i, "Cadre"]) + prefix + str(easynic.loc[i,"Identity No."])

In [14]:
easynic["Identity No."]

0       UT016100
1       UT016500
2       UT016400
3       UT016800
4       UT016900
          ...
5200    WB118X08
5201    WB118X09
5202    WB118X10
5203    WB118X11
5204    WB118X12
Name: Identity No., Length: 5205, dtype: object

In [15]:
new_cadra = []
for item in easynic["Cadre"]:
    new_cadra.append(mapper[item])

In [16]:
easynic["Cadre"] = new_cadra

In [17]:
temp = []
for val in comparison_set["Identity No."]:
    temp.append(str(val)[2:])

temp[:5]

['CG035800', 'RJ025400', 'RJ025511', 'RJ025512', 'RJ025513']

In [18]:
not_present = []
for id_val in easynic["Identity No."]:
    if len(id_val) < 8:
        id_val = id_val[:2] + "0" + id_val[2:]
    if not find_in(temp, id_val):
        not_present.append(id_val)

In [19]:
len(not_present)

1855

In [20]:
not_present_df = pd.DataFrame(columns=easynic.columns)

In [21]:
for id_val in not_present:
    rows = easynic.loc[easynic["Identity No."] == id_val]
    not_present_df = not_present_df.append(rows, ignore_index=True)

In [22]:
easynic.loc[easynic["Identity No."] == "UT115T01"]

,Name,Identity No.,Dt. of Appointment,Source of Recruitment,IntraIAS User-Id,Qualification(Subject),Date of Birth,Allotment Year,Cadre,Domicile,Present Post,Post Effect From,Payscale Remarks
251,Shri Shashwat Saurabh,UT115T01,29-08-2016,RR,Not found,M.Sc.(Economics),28-10-1987,2016,A G M U T,Rajasthan,"Sub-Collector, Revenue, Pondicherry(South)",07-01-2019,Level 10 in the Pay Matrix

In [23]:
print(list(not_present_df.columns))
print(list(supremo.columns))

['Name', 'Identity No.', 'Dt. of Appointment', 'Source of Recruitment', 'IntraIAS User-Id', 'Qualification(Subject)', 'Date of Birth', 'Allotment Year', 'Cadre', 'Domicile', 'Present Post', 'Post Effect From', 'Payscale Remarks']
['Name', 'Service', 'Cadre', 'Allotment Year', 'Date of Birth', 'Date of Joining', 'Identity No.', 'Source of Recruitment', 'Gender', 'Place of Domicile', 'Mother Tongue', 'Languages Known', 'Retirement Reason', 'Qualification/University/Institute', 'Subject', 'Division', 'Designation/Level', 'Ministry/Department/Office/Location', 'Organisation', 'Experience(major/minor)', 'Period(From/To)']

In [24]:
qualifications = not_present_df["Qualification(Subject)"]

In [25]:
def create_compatible_q(my_string):
    q = ""
    s = ""
    item = my_string
    splits = item.split(" ")
    subjects = [""] * len(splits)
    item = item.replace(")(", " ")
    subject_list = re.findall("\((.*?)\)", item)
    counter = 0
    for split in splits:
        if split[len(split)-1] == ")":
            s += subject_list[counter]
            item = item.replace(f"({subject_list[counter]})", "")
            counter += 1
        else:
            s += ""
        s += "|"
    q = item.replace(" ", "|")
    s = s[:len(s)-1]
    return q, s

In [26]:
create_compatible_q("M.A.(Sociology) B.A.")

('M.A.|B.A.', 'Sociology|')

In [27]:
degree = []
subject = []
division = []
for qualification in qualifications:
    d, s = create_compatible_q(qualification)
    degree.append(d)
    subject.append(s)
    division.append("Not Found")

In [28]:
degree[0]

'B.Sc.'

In [29]:
not_present_df["Qualification(Subject)"] = degree
not_present_df["Subject"] = subject
not_present_df["Division"] = division

In [30]:
exp = not_present_df["Present Post"]

In [31]:
exp_name = []
location = []
for item in exp:
    item = str(item)
    split = item.split(", ")
    place = split[len(split)-1]
    item = item.replace(", " + place, "")
    exp_name.append(item)
    location.append(place)

In [32]:
location[1]

'N C T of Delhi '

In [33]:
not_present_df["Designation/Level"] = exp_name
not_present_df["Ministry/Department/Office/Location"] = location
not_present_df = not_present_df.rename(columns={
    "Qualification(Subject)" : "Qualification/University/Institute",
    "Post Effect From": "Period(From/To)",
    'Domicile': "Place of Domicile",
    "Dt. of Appointment" : "Date of Joining",
})

In [34]:
not_present_df

,Name,Identity No.,Date of Joining,Source of Recruitment,IntraIAS User-Id,Qualification/University/Institute,Date of Birth,Allotment Year,Cadre,Place of Domicile,Present Post,Period(From/To),Payscale Remarks,Subject,Division,Designation/Level,Ministry/Department/Office/Location
0,Ms. Alice Vaz R,UT040200,22-08-2005,RR,alice.vaz.r,B.Sc.,16-08-1979,2005,A G M U T,Tamil Nadu,"Secretary (Welfare & Civil Supplies), Govt of ...",08-02-2016,Level 13 in the Pay Matrix,Nursing,Not Found,Secretary (Welfare & Civil Supplies),Govt of Puducherry
1,Shri Binay Bhushan,UT817106,23-01-2019,SCS,Not found,M.Sc.,09-12-1964,2009,A G M U T,Bihar,"Director, Education Deptt, N C T of Delhi",08-03-2019,Level 12 in the Pay Matrix,Chemistry,Not Found,"Director, Education Deptt",N C T of Delhi
2,Shri Hemant Kumar,UT112P04,02-09-2013,RR,hemant.kumar85,B.Sc.|LL.B.,28-04-1985,2013,A G M U T,Haryana,"Inspector General, Prison, Goa",30-08-2019,Level 11 in the Pay Matrix,|,Not Found,"Inspector General, Prison",Goa
3,Ms. Shashanka Ala,UT113Q04,01-01-2014,RR,shashanka.ala,Graduate,11-10-1988,2014,A G M U T,Andhra Pradesh,"Deputy Commissioner, Lawngtlai (Mizoram)",13-02-2019,Level 11 in the Pay Matrix,,Not Found,Deputy Commissioner,Lawngtlai (Mizoram)
4,Shri Rakesh Minhas,UT115C05,01-01-2016,RR,Not found,Graduate,28-08-1989,2016,A G M U T,Punjab,"Collector, Daman",28-06-2019,Level 10 in the Pay Matrix,,Not Found,Collector,Daman
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,Ms. Tamil Oviya S,WB118X08,01-09-2019,RR,Not found,Graduate,26-09-1993,2019,West Bengal,Tamil Nadu,N.A.,01-09-2018,Level 10 in the Pay Matrix,,Not Found,N.A.,N.A.
1832,Ms. Renu Sogan,WB118X09,01-09-2019,RR,Not found,Graduate,21-03-1994,2019,West Bengal,Rajasthan,N.A.,01-09-2018,Level 10 in the Pay Matrix,,Not Found,N.A.,N.A.
1833,Shri Anuj Pratap Singh,WB118X10,01-09-2019,RR,Not found,Graduate,30-03-1991,2019,West Bengal,Uttar Pradesh,N.A.,01-09-2018,Level 10 in the Pay Matrix,,Not Found,N.A.,N.A.
1834,Ms. Priyanka Singh,WB118X11,01-09-2019,RR,Not found,Graduate,25-03-1992,2019,West Bengal,Uttar Pradesh,N.A.,01-09-2018,Level 10 in the Pay Matrix,,Not Found,N.A.,N.A.
1835,Ms. Wankhede Archana Pandharinath,WB118X12,01-09-2019,RR,Not found,Graduate,09-01-1983,2019,West Bengal,Maharashtra,N.A.,01-09-2018,Level 10 in the Pay Matrix,,Not Found,N.A.,N.A.

In [35]:
for column in supremo.columns:
    if not column in not_present_df.columns:
        not_present_df[column] = ["Not Found"] * len(not_present_df.index)

In [36]:
for column in supremo.columns:
    if not column in not_present_df.columns:
        print(column)

In [47]:
temp = supremo

In [48]:
for i in not_present_df.index:
    row = dict(not_present_df.iloc[i])
    to_add = {}
    for column in temp.columns:
        to_add[column] = not_present_df[column][i]
    temp = temp.append(to_add, ignore_index=True)

In [50]:
temp.to_csv("./outputs/combined/test.csv", index=True)