In [1]:
import pandas as pd
from collections import Counter
main_df = pd.read_csv("./outputs/combined/ias-clean-final.csv")
edu_df = pd.read_csv("./outputs/formats/ias-education.csv")
postings_df = pd.read_csv("./outputs/formats/ias-postings.csv")

In [2]:
new_cadre = []
new_qualifications = []
for i in range(len(main_df.index)):
    new_cadre.append(str(main_df["Cadre"][i]).replace(" ", "").replace("/", "-"))
    new_qualifications.append(str(edu_df["Qualification/University/Institute"][i]).split("/")[0])

main_df["Cadre"] = new_cadre
main_df.to_csv("./outputs/combined/ias-clean-final.csv", index=False)

In [3]:
cadre_counter = Counter(new_cadre)
allotment_year_counter = Counter(main_df["Allotment Year"])
education_counter = Counter(new_qualifications)
subject_counter = Counter(edu_df["Subject"])
division_counter = Counter(edu_df["Division"])

In [4]:
education_counter

Counter({'Graduate': 4996,
         'P.G.': 3624,
         'Diploma': 416,
         'Certificate': 203,
         'Ph. D.': 265,
         'N.A.': 332,
         'Post Ph.D.': 12,
         'M.Phil.': 146,
         'PG Diploma': 144,
         'LL.B.': 233,
         'M.B.A.': 210,
         'LL.M.': 15,
         'M.A.': 140,
         'P.G. (USA)': 9,
         'B.A. Honours': 76,
         'B.V.Sc. & A.H.': 3,
         'B.E.': 84,
         'B.Sc.': 74,
         'B.Tech.': 110,
         'M.B.A. (UK)': 22,
         'M.P.A.': 22,
         'B.Sc.(Hons)': 41,
         'M.Tech.': 58,
         'B.A.': 74,
         'M.Sc.': 99,
         'A.M.I.E.': 2,
         'Ph.D.(U.S.A.)': 11,
         'B.Com.': 18,
         'B.E. (Hons)': 4,
         'B.Ed.': 16,
         'M.Com.': 8,
         'M.E.': 3,
         'M.B.B.S.': 29,
         'ICWAI': 6,
         'C.S.': 5,
         'Chartered Accountant': 6,
         'M.B.L.': 1,
         'B.D.S.': 1,
         'C.F.A.': 3,
         'B.Sc.(Agri)': 3,
         'Intermediate': 1,
         'B.Sc.(Engg)': 4,
         'M.S.': 1,
         'M.V.Sc.': 2,
         'Adv. Diploma': 2,
         'Master in Business Administration': 3,
         'Degree': 2,
         'C.A.': 1,
         'M.H.S.A.': 1,
         'M.P.P.': 1,
         'B.Com Honours': 2,
         'M.A. English': 1,
         'M.Ed.': 2,
         'Certificate course': 2,
         'M.I.D.P.': 1,
         'M.D.': 1,
         'Bachelor of Engineering': 2,
         'LL.B Professional': 1,
         'Management Programme in Public Policy': 1,
         'Masters in Public Policy': 1,
         'M.Stat.': 1,
         'Master of Arts': 2,
         'M.I.P.L.': 1,
         'Masters in International Development': 1,
         'MIPP': 1,
         'PGD PPM': 1,
         'Master of Technology': 1,
         'M.P.H.': 1,
         'Post Graduate Diploma in Business Administration': 1,
         'PG Diploma in Financial Management': 1,
         'POST GRADUATE IN PUBLIC POLICY AND MANAGEMENT': 1,
         'M.P.M.': 1})

In [5]:
my_dict = {
    "cadre": dict(cadre_counter),
    "allotment_year": dict(allotment_year_counter),
    "education": dict(education_counter),
    "subject": dict(subject_counter),
    "division": dict(division_counter)
}

In [6]:
import json

json_file = open("./outputs/meta/metadata.json", "w")
json.dump(my_dict, json_file, indent=4)