In [1]:
import pandas as pd

In [2]:
experience_df = pd.read_csv("./datasets/formats/ias-experience.csv")
education_df = pd.read_csv("./datasets/formats/ias-education.csv")

In [3]:
subjects_df = pd.read_csv("./processed/IAS subjects.csv")

In [5]:
subjects_df = subjects_df.loc[subjects_df["Count"] > 20]

In [16]:
subjects_df

            Subject  Count                         Category
0         Economics   1815  Social Science and Liberal Arts
1               Law    956   Governance, Law and Management
2           History    930  Social Science and Liberal Arts
3     Political Sc.    903  Social Science and Liberal Arts
4           English    884          Languages and Fine Arts
..              ...    ...                              ...
61        Cost Acct     22                          Finance
62      Social Work     22  Social Science and Liberal Arts
63     Animal Husby     22                           Others
64  Modern Ind.Hist     22  Social Science and Liberal Arts
65      Dev Studies     22  Social Science and Liberal Arts

[66 rows x 3 columns]

In [17]:
subjects_df.loc[subjects_df["Category"] == "Governance, Law and Management"]

              Subject  Count                        Category
1                 Law    956  Governance, Law and Management
10        Public Admn    303  Governance, Law and Management
12     Business Admn.    282  Governance, Law and Management
27      Public Policy    100  Governance, Law and Management
45          Marketing     35  Governance, Law and Management
46            Dev Adm     35  Governance, Law and Management
47          Rural Dev     32  Governance, Law and Management
48  Public Management     30  Governance, Law and Management
51          Pers.Mgt.     29  Governance, Law and Management
55       Intnl Trade.     24  Governance, Law and Management
56    Intnl Relations     24  Governance, Law and Management
57          Fincl Mgt     23  Governance, Law and Management
58       Business Mgt     23  Governance, Law and Management