In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('./processed/unigram maps.csv')

In [25]:
columns = df.columns

In [26]:
columns.get_loc("Subject")

0

In [27]:
def filter_by_value(df, col, value):

    df = df.loc[df[col].str.contains(value)]
    df = df.drop(columns=[col])
    df.set_index(df.columns[0], inplace=True)
    df.sort_values(["Count"], ascending=False, inplace=True)

    return df

In [28]:
df["Subject"].unique()[0]

'Social Science and Liberal Arts'

In [29]:
df.columns

Index(['Subject', 'Experience', 'Count'], dtype='object')

In [34]:
filter_by_value(df, "Experience", "Home").head(5)

                                         Count
Subject
Social Science and Liberal Arts            396
Governance, Law and Management             305
Natural Sciences                           200
Engineering, Technology and Mathematics    194
Languages and Fine Arts                    184