In [3]:
import pandas as pd
import numpy as np

C:\Users\vedan\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vedan\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\vedan\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [4]:
df = pd.read_csv('./processed/unigram maps.csv')

In [5]:
df

,Subject,Experience,Count
0,Social Science and Liberal Arts,Land Revenue Mgmt & District Admn,1736
1,"Governance, Law and Management",Land Revenue Mgmt & District Admn,1227
2,"Engineering, Technology and Mathematics",Land Revenue Mgmt & District Admn,1104
3,Social Science and Liberal Arts,Personnel and General Administration,828
4,Natural Sciences,Land Revenue Mgmt & District Admn,815
...,...,...,...
361,Social Science and Liberal Arts,Anti-Corruption,1
362,Others,Chemicals & Fertilizers,1
363,Others,Mail Management,1
364,Finance,Public Policy,1
365,Social Science and Liberal Arts,Public Policy,1

In [20]:
admin_categories = [
    "Land Revenue Mgmt & District Admn",
    "Personnel and General Administration",
    "Finance"
]
def filter_by_value(df, col, value, include_admin=True, number_of_rows=5, percentage=False):

    df = df.loc[df[col].str.contains(value)]
    df.sort_values(["Count"], ascending=False, inplace=True)

    if include_admin and col == "Subject":
        for category in admin_categories:
            df = df.loc[df["Experience"] != category]

    df.drop(columns=[col], inplace=True)
    df.set_index(df.columns[0], inplace=True)

    df = df.head(number_of_rows)

    if percentage:
        sum = df["Count"].sum()
        df = pd.DataFrame(df["Count"].apply(lambda x: (x / sum)))

    return df

In [21]:
filter_by_value(df, "Subject", "Governance, Law and Management", include_admin=False, number_of_rows=5, percentage=True)

C:\Users\vedan\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\vedan\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                         Count
Experience
Land Revenue Mgmt & District Admn     0.390391
Personnel and General Administration  0.187082
Finance                               0.176901
Industries                            0.125040
Agriculture & Cooperation             0.120585

In [25]:
columns = df.columns

In [26]:
columns.get_loc("Subject")

0

In [27]:
def filter_by_value(df, col, value):

    df = df.loc[df[col].str.contains(value)]
    df = df.drop(columns=[col])
    df.set_index(df.columns[0], inplace=True)
    df.sort_values(["Count"], ascending=False, inplace=True)

    return df

In [28]:
df["Subject"].unique()[0]

'Social Science and Liberal Arts'

In [29]:
df.columns

Index(['Subject', 'Experience', 'Count'], dtype='object')

In [34]:
filter_by_value(df, "Experience", "Home").head(5)

                                         Count
Subject
Social Science and Liberal Arts            396
Governance, Law and Management             305
Natural Sciences                           200
Engineering, Technology and Mathematics    194
Languages and Fine Arts                    184